RewriteEngine On
#RewriteRule !(\.gif|\.png|\.jpe?g|.css\|.php|\.js|^public/.*)$ index.php [nocase,last]
RewriteRule !(\.png|jpg|jpeg|.gif|.css|.php|.js|.otf|.eot|.svg|.ttf|.woff|.woff2)$ index.php [nocase,last]